* {
	box-sizing: border-box;
  margin: 0 auto;
}
body {
  position: relative;
  font-family: 'Indie Flower', cursive;
  background: #EFEFEF;
  .board {
    .header {
      text-align: center;
	    height: 60px;
      line-height: 60px;
    }
    .button-create-column {
      text-align: center;
	    height: 30px;
	    line-height: 30px;
      margin: 30px;
      .create-column {
        width: 130px;
        height: 35px;
        background: #5B8BBA;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        font-weight: bold;
        &:hover {
          background: #759ABF;
          transition: 0.5s;
          box-shadow: .5px .5px 4px #999;
        }
      }  
    }
    .column-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      min-width: 1200px;
      margin: 0 auto;
      div {
        width: 337.25px;
        .column {
          position: relative;
          text-align: center;
          flex: 1;
          .column-title {
            height: 90px;
            line-height: 90px;
            text-transform: uppercase;
            font-size: 3em;
            color: #2E2E2E;
            background: #E3E3E3;
          }
          ul {
            padding-left: 0;
            li {
              list-style: none;
              .category-urgent {
                background: linear-gradient(-45deg,  #F51128, #F2A7AF);
              }
              .category-normal {
                background: linear-gradient(-45deg,  #F78011, #F0C093);
              }
              .category-later {
                background: linear-gradient(-45deg,  #30F52C, #B1EDB0);
              }
              .card {
                position: relative;
                width: 220px;
                height: 180px;
                margin: 30px 55px 30px;
                padding-top: 10px;
                box-shadow: 5px 5px 2px #444;
                h2 {
                  font-size: 1.8em;
                }
                .card-description {
                  font-weight: bold;
                  font-size: 1.3em;
                  margin-top: 20px;
                  padding: 0 12px;
                }
                .btn-delete {
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  background: transparent;
                }
              }
            }
          }
          .btn-add-delete {
            width: 305px;
            display: flex;
            justify-content: space-between;
            #btn-delete-column, .add-card {
              color: #fff;
              font-weight: bold;
            }
          }
          button {
            height: 25px;
  	        line-height: 25px;
            padding: 0 10px;
            text-transform: uppercase;
            cursor: pointer;
            border: none;
            border-radius: 2px;
            background: #5B8BBA;
            &:hover {
              background: #759ABF;
              transition: 0.5s;
              box-shadow: .1px .1px 8px #999;
            }
          }
        }
      }
    } 
    .empty {
      height: 150px;
    }
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 34%;
  width: 450px;
  height: 170px;
  border: 0.5px solid #999999;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #777;
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  padding-left: 7px;
  #modal-category {
    width: 200px;
    margin-top: 10px;
  }
  #modal-desc {
    width: 390px;
    margin-top: 10px;
  }
  #modal-add-button {
    position: absolute;
    right: 105px;
    bottom: 15px;
    height: 30px;
    width: 80px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background: #5B8BBA;
    color: #fff;
    font-weight: bold;
    &:hover {
            background: #759ABF;
            transition: 0.8s;
    }
  }
  #modal-cancel-button {
    position: absolute;
    right: 16px;
    bottom: 15px;
    height: 30px;
    width: 80px;
    color: #696969;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    background: transparent;
    border: 0.5px solid #A9A9A9;
    &:hover {
            background: #E6E6E6;
            transition: 0.8s;
    }
  }
}